h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(100, 35, 185);
    font-size: 40px;
}

div{
    white-space: nowrap;
}

.footer{
    display: inline;
    width: fit-content;
    height: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer:hover{
    background-color: bisque;
}

a{
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    width: 60px;
    height: 60px;
}

.lateral{
    display: inline;
    margin-right: 10px;
}

.principal{
    display: inline;
}

.abajo{
    margin-top: 10px;
}

.numero{
    font-size: 10px;
    text-align: right;
    padding-right: 5%;
    margin: 0%;
}

.simbolo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 0%;
    margin: 0%;
}

.nombre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    padding: 0%;
    margin: 0%;
    padding-bottom: 10%;
}


.no_metales_reactivos{
    background-color: greenyellow;
    color: black;
}

.metales_alcalinos{
    background-color: crimson;
    color: aliceblue;
}

.metaloides{
    background-color:rgb(255, 217, 0);
    color: black;
}

.actonoides{
    background-color: rgb(64, 224, 163);
    color: black;
}

.metales_alcalinoterreos{
    background-color: orange;
    color: aliceblue;
}

.propiedades_desconocidas{
    background-color: rgb(214, 203, 214);
    color: black;
}

.metales_transicionales{
    background-color: rgb(140, 170, 252);
    color: black;
}

.gases_nobles{
    background-color: rgb(240, 162, 247);
    color: black;
}

.metales_postransicionales{
    background-color: rgb(216, 118, 211);
    color: black;
}

.lantanidos{
    background-color: rgb(0, 119, 255);
    color: white;
}

a:hover{
    background-color: purple;
    color: black;
}

