.btn-success:hover {
    background-color: #04B05F;
    border-color: #04B05F;
}

.btn-outline-success{
    border: none;
    border-radius: 0;
}

.btn-outline-success:hover{
    background-color: #04B05F;
    border-radius: 0;
}