body {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;

}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1200px;
}

.container{
    width: 100%;
    height: 900px;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    height: 60px;
    justify-content: space-between;
}

section{
    width: 100%;
}

aside {
    width: 15%;
}

footer {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: rgb(199, 199, 199);
    overflow: hidden;
}

hr {
    margin-top: 0;
    width: 90%;
}

a {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h2{
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 1%;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    margin: 5%;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(0, 63, 102);
    margin: 0;
    margin-left: 5%;
}

p {
    margin: 2%;
    font-size: large;
}

li {
    list-style-type: none;
    background-color: rgb(167, 167, 167);
    margin: 1%;
    width: 100px;
    height: 25px;
    padding: 3%;
    font-size: large;
    color: aliceblue;
    overflow: hidden;
}

img{
    margin-right: 20px;
    padding: 0;
    float: left;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 0, 68, 0.767);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

.menu_elm {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;

}

.logo {
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: black;
    margin-bottom: 2%;
    text-decoration: none;

}

.noticia {
    width: 100%;
    height: 300px;
    border: 3px solid rgb(182, 182, 182);
    margin: 5px;
    background-color: rgb(221, 221, 221);
    display: flex;
    float: left;
    flex-direction: column;
    overflow: hidden;
}

.fecha {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: rgb(90, 90, 90);
    margin: 0;
    margin-left: 5%;
}

.art_sect {
    width: 100%;
    height: 800px;
    float: right;
    border: 3px solid rgb(0, 166, 255);
    background-color: aliceblue;
    overflow: hidden;
}

.publicidad {
    width: 100%;
    height: 500px;
    float: left;
    margin: 5px;
    background-color: rgb(255, 235, 198);
    border: 3px dashed orangered;
    overflow: hidden;
}

.publicidad_txt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 5%;
    color: rgb(255, 163, 4);
}

.firma {
    font-weight: bolder;
    position: absolute;
    right: 0;
    bottom: 0;
}

.titulo_col {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    word-wrap: normal;
    color: aliceblue;
    margin: 5px;
    padding: 5px;
    background-color: rgb(0, 184, 184);

}

.orange {
    color: orange;
    font-weight: bold;
}

.articulo{
    width: 60%;
    height: au;
    background-color: aliceblue;
    position: relative;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}