.bread_crumb{
  color: orangered;
  font-size: small;  
}

.negrita{
    font-weight: bold;
}

.subrayado{
    text-decoration: underline;
    text-decoration-color: orangered;
}

.cita{
    font-style: italic;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    width: 100%;
    border-bottom: 3px solid orangered;
}