h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 78px;
    width: min-content;
    height: min-content;
    margin: auto;
    color: #1B2631;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    width: min-content;
    height: min-content;
    text-align: center;
    margin: auto;
    color: #17202A;
}

form{
    font-size: 24px;
    width: max-content;
    height: min-content;
    text-align: left;
    margin: auto;
    margin-top: 20px;
}

input{
    padding: 7px;
}

body{
    background-color: rgb(255, 225, 190);
}
