div{
    margin: 3px;
}

.container{
    width: 700px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: auto;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.morado{
    grid-column: 5/10 ;
    grid-row:   1/5 ;
    background-color: #8d43b4;
}

.azul{
    grid-column: 7/10;
    grid-row: 5/6;
    background-color: #42a6ec;
}

.rojo{
    grid-column: 1/5;
    grid-row: 1/11;
    background-color: #e84e34;
}

.verde1{
    grid-column: 5/7;
    grid-row: 5/8;
    background-color: #2aa650;
}

.verde2{
    grid-column: 10/11;
    grid-row: 1/11;
    background-color: #2aa650;
}

.rosa{
    grid-column: 7/10;
    grid-row: 6/8;
    background-color: #ac85b4;
}

.amarillo{
    grid-column: 5/10;
    grid-row: 8/11;
    background-color: #f89929;
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(0, 16, 156);
    border: 3px solid rgb(0, 16, 156);
    border-radius: 10%;
    padding: 10px;
    width: 200px;
    height: 200px;
}