div{
    margin: 3px;
}



.container{
    width: 700px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: auto;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,1fr);
}

.morado{
    grid-column: 1/9;
    grid-row: 1/2;
    background-color: #8d43b4;
}

.azul1{
    grid-column: 6/9;
    grid-row: 3/5;
    background-color: #42a6ec;
}

.azul2{
    grid-column: 3/6;
    grid-row: 3/5;
    background-color: #42a6ec;
}

.rojo1{
    grid-column: 5/7;
    grid-row: 6/7;
    background-color: #e84e34;
}

.rojo2{
    grid-column: 5/7;
    grid-row: 5/6;
    background-color: #e84e34;
}


.verde{
    grid-column: 3/9;
    grid-row: 2/3;
    background-color: #2aa650;
}

.rosa{
    background-color: #ac85b4;
}

.amarillo1{
    grid-column: 9/10;
    grid-row: 1/7;
    background-color: #f89929;
}

.amarillo2{
    grid-column: 1/3;
    grid-row: 2/7;
    background-color: #f89929;
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(0, 16, 156);
    border: 3px solid rgb(0, 16, 156);
    border-radius: 10%;
    padding: 10px;
    width: 200px;
    height: 200px;
}