div{
    margin: 3px;
}



.container{
    width: 700px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}

.morado{
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #8d43b4;
}

.azul{
    grid-column: 5/6;
    grid-row: 1/6;
    background-color: #42a6ec;
}

.rojo{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #e84e34;
}

.verde{
    grid-column: 2/5;
    grid-row: 3/4;
    background-color: #2aa650;
}

.rosa{
    grid-column: 1/3;
    grid-row: 4/6;
    background-color: #ac85b4;
}

.amarillo{
    grid-column: 3/5;
    grid-row: 4/6;
    background-color: #f89929;
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(0, 16, 156);
    border: 3px solid rgb(0, 16, 156);
    border-radius: 10%;
    padding: 10px;
    width: 200px;
    height: 200px;
}