.house{
    width: 500px;
    height: 500px;
    background-color: turquoise;
}

.roof{
    width: 0;
    height: 0;
    border-bottom: solid 200px red;
    border-right: solid 200px transparent;
    border-left: solid 200px transparent;
    transform: translate(-50%);
    position: relative;
    left: 50%;
    top: 0;
}

.chimney{
    background-color: brown;
    width: 60px;
    height: 100px;
    position: absolute;
    top: 80px;
    left: 120px;
}

.wall{
    background-color: wheat;
    width: 400px;
    height: 300px;
    position: absolute;
    transform: translate(-50%);
    position: relative;
    left: 50%;
    top: 0;
}

.window01{
    background-color: aquamarine;
    border-radius: 20%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10%;
    left: 10%;
}

.window02{
    background-color: aquamarine;
    border-radius: 20%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10%;
    right: 10%;
}

.door{
    background-color: brown;
    width: 100px;
    height: 150px;
    position: absolute;
    border-radius: 40% 40% 0% 0%;
    border-top: solid 5px rgb(89, 21, 21);
    border-right: solid 5px rgb(89, 21, 21);
    border-left: solid 5px rgb(89, 21, 21);
    transform: translate(-50%);
    bottom: 0%;
    left: 50%;
    z-index: 1;
}

.decor{
    background-color: rgb(198, 197, 197);
    width: 400px;
    height: 50px;
    position: absolute;
    bottom: 0%;
    z-index: 0;
}

.grass{
    width: 500px;
    height: 20px;
    background-color: green;
    position: absolute;
}