.error{
    color:aliceblue;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding: 2px;
}

.exito{
    color:aliceblue;
    background-color: rgb(0, 255, 38);
    margin: 10px;
    padding: 2px;
}

.body {
    min-height: 1000px;
}
